*{
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button.login {
    background-color: #363636;
    color: white; 
}

.cards {
    height: 100px;
    background-color: red;
}

.jumbo {
    height: 500px;
}

footer {
    background-color: #00439c;
    color: white;
}

footer ul {
    list-style: none;
}