*{
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button.login {
    background-color: #363636;
    color: white; 
}

.cards {
    height: 100px;
}

#jumbo {
    background-image: url('../img/returnal-listing-thumb-01-ps5.jpg');
    background-position: center;
    padding-top: 300px;
    color: white;
}

#ps5 p:first-child {
    color: #00439c;
}

footer {
    background-color: #00439c;
    color: white;
}

footer ul {
    list-style: none;
}