*{
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button.login {
    background-color: #363636;
    color: white; 
}

.cards {
    height: 100px;
}

#jumbo1,
#jumbo2 {
    background-position: center;
    padding-top: 300px;
    color: white;
}

#jumbo1 {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
}

#jumbo2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

button.buy-now {
    background-color: #cc3809;
    border: 5px solid #cc3809;
    color: white;
}

button.infos {
    background-color: #2d64e6;
    border: 5px solid #2d64e6;
    color: white;
}

button.ps-plus-button {
    background-color: #d9dadc;
    color: #225ce7;
    border: 5px solid #d9dadc;
}

button.ps-now-button {
    background-color: white;
    border: 5px solid white;
}

#ps5 p:first-child {
    color: #00439c;
}

footer {
    background-color: #00439c;
    color: white;
}

.ps-icon {
    fill: white;
}

footer ul {
    list-style: none;
}